.box{
    border: 2px solid #333;
    border-radius: 8px;
    padding: 10px;
    margin: 3px 0;
    transition: background 0.3s linear;
}

.timeLeft{
    color: rgb(30, 255, 0);
}

.timer{
    margin-left: 100px;
}